@{
    Layout = "~/Views/Seller/SellerLayout2.cshtml";
}
@model Shopping.Models.User
<h3 style="color:palevioletred;text-align:center">注册成功！</h3>
<p style="text-align:center">您的账户ID为：@Model.IdCard</p>
<p style="text-align:center"><a href="~/Area_User/Users/SellerLogin">返回登录</a></p>
