@{
    Layout = "~/Views/Seller/SellerLayout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="~/css/public.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    
    <!-------------------login-------------------------->
    <div style="margin-top:10%;margin-left:30%">
        <div class="login">
            <form action="#" method="post">
                @Html.AntiForgeryToken()
                <h1>登录
                </h1>
                <p></p>
                <p><input type="text" name="userid" value="" placeholder="昵称/邮箱/手机号"></p>
                <p><input type="text" name="userpwd" value="" placeholder="密码"></p>
                <p style="color:red">@ViewBag.message</p>
                <p><input type="submit" name="" value="登  录"></p>
                <p class="txt"><a class="" href="~/Area_User/Users/SellerCreate">免费注册</a>  <a class="" href="~/">返回初始界面</a></p>
            </form>
        </div>
    </div>
</body>
