@{
    var ajaxop = new AjaxOptions { UpdateTargetId = "leftview", HttpMethod = "Post", Url = Url.Action("userLogin", "Users",new { area="Area_User"}) };
}
@* 登录时，要采用局部刷新的形式 *@

@using (Ajax.BeginForm(ajaxop))
{
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-md-3 control-label">账号：</label>
        <div class="col-md-6">
            <input class="form-control" name="Account" type="text" placeholder="请输入账号" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">密码：</label>
        <div class="col-md-6">
            <input class="form-control" name="Password" type="password" placeholder="密码" />
        </div>
    </div>

    @*滑动窗口 https://demo.mycodes.net/denglu/useryanzheng/*@
    <div class="form-group">
        <label class="col-md-3 control-label">验证码：</label>
        <div class="col-md-3">
            <input class="form-control" type="text">
        </div>
        <input class="col-md-3 btn-default" type="button" id="code" onclick="change();">
    </div>


    <div class="form-group">
        <div class="col-md-3 col-md-offset-3">
            <button style="width:100%" class="btn btn-primary" type="submit" name="btn" value="提交">提交</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3 col-md-offset-3">
            <button style="width:100%" class="btn btn-primary" type="submit" name="btn" value="注册">注册</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3 col-md-offset-3">
            <button style="width:100%" class="btn btn-primary" type="submit" name="btn" value="忘记密码">忘记密码</button>
        </div>
    </div>
</div>
}





<script type="text/javascript">

	var SEPARATION = 100, AMOUNTX = 60, AMOUNTY = 40;
	var container;
	var camera, scene, renderer;
	var particles, particle, count = 0;
	var mouseX = 0, mouseY = 0;
	var windowHalfX = window.innerWidth / 2;
	var windowHalfY = window.innerHeight / 2;

	$(function () {
		change();	//验证码
	});

	//验证码
	function change() {
		code=$("#code");
		// 验证码组成库
		var arrays = new Array(
				'1','2','3','4','5','6','7','8','9','0',
				'a','b','c','d','e','f','g','h','i','j',
				'k','l','m','n','o','p','q','r','s','t',
				'u','v','w','x','y','z',
				'A','B','C','D','E','F','G','H','I','J',
				'K','L','M','N','O','P','Q','R','S','T',
				'U','V','W','X','Y','Z'
		);
		codes='';// 重新初始化验证码
		for(var i = 0; i<4; i++){
			// 随机获取一个数组的下标
			var r = parseInt(Math.random()*arrays.length);
			codes += arrays[r];
		}
		// 验证码添加到input里
		code.val(codes);
	}
</script>
