@{
    var ajaxop = new AjaxOptions { UpdateTargetId = "mainWindow", HttpMethod = "Post", Url = Url.Action("userLogin", "Users", new { area = "Area_User" }) };
}
@* 登录时，要采用局部刷新的形式 *@
<style>
    .form-group {
        margin-left: 50px;
        width: 600px;
    }
</style>
    <div class="center-block" style="width:50%;margin-top:20%;background:#000000">
        <img id="img1" class="myleft" src="~/Images/left0.jpg" style="width:100px;height:100px;" />
        <label class="text-center" style="width:250px;color:white;font-size:25px">Peach 购物网站</label>
        <img id="img2" class="myright pull-right" src="~/Images/right0.jpg" style="width:100px;height:100px;" />
    </div>
<div class="center-block" style="border:2px black solid;width:50%;">
    @using (Ajax.BeginForm(ajaxop))
    {
        <div class="form-horizontal" style="margin-top:20px">
            <div class="form-group">
                <label class="col-md-3 control-label">账号：</label>
                <div class="col-md-6">
                    <input class="form-control" name="Account" type="text" placeholder="请输入账号" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">密码：</label>
                <div class="col-md-6">
                    <input class="form-control" id="passwd" name="Password" type="password" placeholder="密码" />
                </div>
            </div>

            @*滑动窗口 https://demo.mycodes.net/denglu/useryanzheng/*@
            <div class="form-group">
                <label class="col-md-3 control-label">验证码：</label>
                <div class="col-md-3">
                    <input class="form-control" name="inputcode" type="text">
                </div>
                <input class="col-md-3 btn-default" type="button" id="code" onclick="change();" style="height:35px;width:135px">
            </div>
            <div class="row">
                <button style="width:70%;margin-left:15%" class="btn btn-primary" type="submit" name="btn" value="提交">提交</button>
            </div>

            <div class="row" style="margin-bottom:5%">
                <button style="width:10%;background:none;margin-left:15%" class="btn" type="submit" name="btn" value="注册">免费注册</button>
                <button style="width:20%;background:none;margin-right:15%" class="btn pull-right" type="submit" name="btn" value="忘记密码">忘记密码</button>
            </div>
        </div>
        <input type="text" name="mycode" class="mycode" hidden style="display:none" />
    }

</div>





<script type="text/javascript">

    $('#passwd').focus(function () {
        $("#img1").attr("src", "/Images/left1.jpg");
        $("#img2").attr("src", "/Images/right1.jpg");
    }).blur(function () {
        $("#img1").attr("src", "/Images/left0.jpg");
        $("#img2").attr("src", "/Images/right0.jpg");
    });


    var SEPARATION = 100, AMOUNTX = 60, AMOUNTY = 40;
    var container;
    var camera, scene, renderer;
    var particles, particle, count = 0;
    var mouseX = 0, mouseY = 0;
    var windowHalfX = window.innerWidth / 2;
    var windowHalfY = window.innerHeight / 2;

    $(function () {
        change();	//验证码
    });

    //验证码
    function change() {
        code = $("#code");
        // 验证码组成库
        var arrays = new Array(
            '1', '2', '3', '4', '5', '6', '7', '8', '9', '0',
            'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j',
            'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't',
            'u', 'v', 'w', 'x', 'y', 'z',
            'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J',
            'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T',
            'U', 'V', 'W', 'X', 'Y', 'Z'
        );
        codes = '';// 重新初始化验证码
        for (var i = 0; i < 4; i++) {
            // 随机获取一个数组的下标
            var r = parseInt(Math.random() * arrays.length);
            codes += arrays[r];
        }
        // 验证码添加到input里
        code.val(codes);
        $(".mycode").val(codes);
    }
</script>
