<hr />
<div class="row text-center">
    <div class="col-md-3"><h3>支付成功</h3></div>
    <div class="col-md-6"><img src="~/Images/Shoppingcart/cartTop03.png" /></div>
</div>
<hr />
<div class="row">
    <h4 class="text-center">支付成功！剩余 <span id="tt">120</span> S将<a>自动跳转...</a></h4>
</div>
<div class="row">
    <h3 style="color:red">猜你喜欢</h3>
    <div class="row">
        <img id="img1" src="~/Images/Shoppingcart/flo1.jpg" style="width:200px;height:200px;"/>
        <img id="img2" src="~/Images/Shoppingcart/flo2.jpg" style="width:200px;height:200px;"/>
        <img id="img3" src="~/Images/Shoppingcart/flo3.jpg" style="width:200px;height:200px;"/>
        <img id="img4" src="~/Images/Shoppingcart/flo4.jpg" style="width:200px;height:200px;"/>
    </div>
</div>
<script>
    var images = ["flo1.jpg", "flo2.jpg", "flo3.jpg", "flo4.jpg", "flo5.jpg", "flo6.jpg"];
    var num = 0;
    var num2 = 1;
    var num3 = 2;
    var num4 = 3;
    var time = 120;
    my();
    var handle;
    function my() {
        handle = setInterval(autofun, 1000);
        handle = setInterval(yy, 2000);
    }

    function showimage() {
        $("#img1").attr("src", "/Images/Shoppingcart/" + images[num]);
        $("#img2").attr("src", "/Images/Shoppingcart/" + images[num2]);
        $("#img3").attr("src", "/Images/Shoppingcart/" + images[num3]);
        $("#img4").attr("src", "/Images/Shoppingcart/" + images[num4]);
    }

    function autofun() {
        $("#tt").text(time);
        time--;
        
    }

    function yy() {
        num++;
        if (num > 5) num = 0;
        num2++;
        if (num2 > 5) num2 = 0;
        num3++;
        if (num3 > 5) num3 = 0;
        num4++;
        if (num4 > 5) num4 = 0;
        showimage();
    }
</script>