@{
    Layout = "~/Views/Seller/SellerLayout.cshtml";
}
@model Shopping.Models.User
@{
    var ajaxOptions = new AjaxOptions
    {
        LoadingElementId = "loading",
        UpdateTargetId = "mainWindow",
        OnFailure = "OnFailure"
    };
}
<body>

    快来开启你的新店铺吧
</body>
