@{
    Layout = "~/Views/Seller/SellerLayout.cshtml";
}
@model Shopping.Models.User
@{
    var ajaxOptions = new AjaxOptions
    {
        LoadingElementId = "loading",
        UpdateTargetId = "mainWindow",
        OnFailure = "OnFailure"
    };
}
<body>
    <h4></h4>
    <img src="~/Images/开店.jpg" />
</body>
