@model IEnumerable<Shopping.Models.Commodity>

@{
    var ajaxOptions = new AjaxOptions
    {
        LoadingElementId = "loading",
        UpdateTargetId = "mainWindow",
        OnFailure = "OnFailure"
    };
}
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "mainWindow" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div>
                <br><br><br>
            </div>
            @*<label class="col-md-4 control-label">美好等你发现</label>*@
            <div class="col-md-4">
                <input type="text" name="search" value="@ViewBag.search" class="form-control" placeholder="全部">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">搜索</button>
            </div>
        </div>
    </div>
}
<hr>

<section class="lto-items wrapper" id="lto-items">
    <div class="grid columns-3">
        @foreach (var m in Model)
        {
        <div class="col-md-4 text-center" style="height:320px">
            <img alt=@m.Type src=@m.Image style="width:80%">
            <p>@Ajax.ActionLink(m.Name.ToString(), "CommodityDetails", new { id = m.Id }, ajaxOptions)</p>
            <p>@Html.DisplayFor(model => m.Introduction)</p>
            <p>￥ @Html.DisplayFor(model => m.Price)</p>
        </div>
        }
    </div>
</section>