@{
    ViewBag.Title = "Index";
}

<section class="hero relative">
    <div class="item">
            <a href="#lto-items" class="block relative">
                <img src="~/Images/UserViewCommodity/hot_pre.jpg" class="img" style="width:100%">
            </a>
    </div>
    <div class="center-block text-center">
        <h2>Carry The Merry</h2>
        <p class="text description" style="padding:0 20px">
            叮叮当~喜欢的节日在慢慢到来<br> 喜欢的好物也如约而至<br> 拿上游戏机与你的朋友共享快乐<br> 精美的周边礼物见证你们的友谊<br> 高音质的音响为你的party添加色彩<br> 舒适的健身设备给你更好的锻炼体验<br> 不可错过的全新经典<br>
        </p>
    </div>   
</section>

<section class="featured-items">
    <div class="item">
        <a href="#lto-items" class="block relative">
            <img src="" class="img" style="width:100%">
        </a>
        <div class="description text wrapper">
            <h2></h2>
            <p><br></p>
        </div>
    </div>

    <div class="item">
        <a href="#lto-items" class="block relative">
            <img src="" class="img" style="width:100%">
        </a>
        <div class="description text wrapper">
            <h2></h2>
            <p><br></p>
        </div>
    </div>

    <div class="item">
        <a href="#lto-items" class="block relative">
            <img src="~/Images/UserViewCommodity/hot_bottom.jpg" class="img" style="width:100%">
        </a>
        <div class="description text wrapper">
            <h2></h2>
            <p><br></p>
        </div>
    </div>

</section>

<section class="lto-items wrapper" id="lto-items">
    <h2 class="text-center">热卖新品</h2>
    <div class="grid columns-3 padded-2">
        <div class="col-md-4 text-center">
            <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/featured/20201103/id-shots/1.jpg" style="width:80%">
            <p>太妃榛果拿铁</p>
        </div>


        <div class="col-md-4 text-center">
            <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/featured/20201103/id-shots/2.jpg" style="width:80%">
            <p>熔岩黑巧摩卡</p>
        </div>


        <div class="col-md-4 text-center">
            <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/featured/20201103/id-shots/3.jpg" style="width:80%">
            <p>流金圣诞茶拿铁</p>
        </div>


        <div class="col-md-4 text-center">
            <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/featured/20201103/id-shots/4.jpg" style="width:80%">
            <p>草莓杯子蛋糕</p>
        </div>
    </div>
</section>