@model Shopping.Models.Favorites

@{
    var ajaxmainwindow = new AjaxOptions
    {
        UpdateTargetId = "mainWindow",
        OnFailure = "OnFailure"
    };
}
<div class="center-block text-center" style="margin-top:30%">
    <h3>确定要删除该条记录吗？</h3>
    <div>
        @using (Ajax.BeginForm(ajaxmainwindow))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="删除" class="btn btn-danger" /> |
                @Html.ActionLink("取消", "Index")
            </div>
        }
    </div>
</div>